# EditorConfig is awesome:http://EditorConfig.org

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space

[unity/Assets/Scripts/**.cs]
csharp_prefer_braces = true:error

[*.cs]
indent_size = 4
insert_final_newline = true

# Newline settings
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_before_members_in_anonymous_types=false
csharp_new_line_between_query_expression_clauses=false
