Flask==2.0.1
numpy
pyyaml
requests
progressbar2
botocore
aws-requests-auth
msgpack
Pillow
python-xlib
opencv-python

# needed for unix socket support, WSGI server
Werkzeug==2.3.8  
compress_pickle
objathor